<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

		<link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css">
		<link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">

		<title>Helmet</title>
	</head>
	<body ng-controller="AppController">

		<!-- Sidebar -->
		<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="sidebar">
			<h1 class="app-name">
				<img src="img/logo.png" alt="Cordova" width="25">
				Visio Helmet HD+
			</h1>
			<div class="scrollable">
				<div class="scrollable-content">
					<div class="list-group" toggle="off" bubble target="sidebar">
						<a class="list-group-item" href="#/">
							<i class="fa fa-dashboard"></i>
							Tableau de bord
							<i class="fa fa-chevron-right pull-right"></i>
						</a>
						<a class="list-group-item" href="#/route">
							<i class="fa fa-location-arrow"></i>
							Itinéraire
							<i class="fa fa-chevron-right pull-right"></i>
						</a>
						<a class="list-group-item" href="#/trips">
							<i class="fa fa-road"></i>
							Trajets
							<i class="fa fa-chevron-right pull-right"></i>
						</a>
						<a class="list-group-item" href="#/settings">
							<i class="fa fa-gear"></i>
							Paramètres
							<i class="fa fa-chevron-right pull-right"></i>
						</a>
						<br>
						<center>
							<i class="fa fa-volume-up white"></i>
							<i class="fa fa-microphone white"></i>
						</center>
					</div>
				</div>
			</div>
		</div>

		<!-- Overlay Bluetooth -->
		<div ng-controller="BluetoothController" overlay="bluetoothOverlay">
			<h4 class="overlay-title">Bluetooth</h4>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading" toggle target="collapseOne">
						<h4 class="panel-title">
								Casque {{ amac }}
						</h4>
					</div>
					<div id="collapseOne" toggleable active-class="in" exclusion-group="accordion1" default="active" class="panel-collapse collapse">
						<div class="panel-body">
							<!-- ... -->{{ amac }}
							<a href="#" ng-click="sendM(amac)">clic salope</a>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" toggle target="collapseTwo">
						<h4 class="panel-title">
								Intercom
						</h4>
					</div>
					<div id="collapseTwo" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse">
						<div class="panel-body">
							<!-- ... -->...
						</div>
					</div>
				</div>
			</div>
			<p bubble toggle="off" target="bluetoothOverlay">
				<span class="btn btn-primary" ng-click="testBt()">Ok</span>
				<span class="btn btn-default">Annuler</span>
			</p>
		</div>

		<div class="app">
			<!-- Navigation top -->
			<div class="navbar navbar-app navbar-absolute-top">
				<!-- center -->
				<div class="navbar-brand navbar-brand-center" yield-to="title">
					<span>Helmet</span>
				</div>
				<!-- left -->
				<div class="btn-group pull-left">
					<div ng-click="toggle('sidebar')" class="btn btn-navbar sidebar-toggle">
						<i class="fa fa-bars"></i> Helmet
					</div>
				</div>
				<!-- right -->
				<div class="btn-group pull-right" yield-to="navbarAction"></div>
			</div>
			<!-- Navigation bottom -->
			<div class="navbar navbar-app navbar-absolute-bottom">
				<div class="btn-group justified">
					<a href="#/" class="btn btn-navbar btn-icon-only">
						<i class="fa fa-dashboard fa-navbar"></i>
					</a>
					<a href="#/route" class="btn btn-navbar btn-icon-only">
						<i class="fa fa-location-arrow fa-navbar"></i>
					</a>
					<a href="#/trips" class="btn btn-navbar btn-icon-only">
						<i class="fa fa-road fa-navbar"></i>
					</a>
					<a href="#/settings" class="btn btn-navbar btn-icon-only">
						<i class="fa fa-gear fa-navbar"></i>
					</a>
				</div>
			</div>

			<div class="app-body scrollable">
				<div class="notification">
					{{ notification }}
				</div>
				<!-- Chargement -->
				<div ng-show="loading.route" class="app-content-loading">
					<i class="fa fa-gear fa-spin loading-spinner"></i>
				</div>
				<!-- Contenu -->
				<div ng-view class="app-content scrollable-content" ng-hide="loading.route"></div>
			</div>
		</div>

		<script src="//maps.google.fr/maps/api/js?key=AIzaSyBvFpbSPCX7TEnXxQ3ztf8zD_zLVGxiLbg&sensor=true"></script>
		<!-- Bower -->
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>

		<!-- Angular -->
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/controllers.js"></script>
		<script type="text/javascript" src="js/directives.js"></script>
		<script type="text/javascript" src="js/filters.js"></script>
		<script type="text/javascript" src="js/services.js"></script>
		<script type="text/javascript" src="js/arduino.js"></script>

		<!-- Cordova -->
		<script type="text/javascript" src="cordova.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript">
			appCordova.initialize();
		</script>

	</body>
</html>
