<!-- Titre -->
<div content-for="title">
  <span class="hidden-phone">Itinéraire</span>
</div>

<!-- Navigation -->
<div content-for="navbarAction">
	<a href="#/start" class="btn btn-navbar">
		<i class="fa fa-road"></i> GO
	</a>
	<div ha-bluetooth class="btn btn-navbar" ng-click="toggle('bluetoothOverlay', 'on')"></div>
</div>

<!-- Contenu -->
<div class="panel">
	<div class="panel-heading">
		<h2 class="panel-title">
			{{ destination || 'Géolocalisation' }}
		</h2>
	</div>
	<div class="panel-body">
		<div class="btn btn-danger pull-right" ng-click="destroyInterval()">Stop</div>
		<div ha-weather></div>
	</div>
	<div bs-panel title="{{ test.title }}">

	    <!--div ha-map destination="destination" position="position" type="roadmap"></div-->
	    <div ng-controller="DirectionController">
			<div ha-map></div>
	    </div>

		<div class="col-md-6">
			getCurrentPosition
			<p ha-position></p>
		</div>
		<div ng-bind-html="test.watchPosition" class="col-md-6"></div>
	</div>
</div>
