<!-- Bluetooth Overlay -->
<div ng-controller="BluetoothController" overlay="bluetoothOverlay">

	<h4 class="overlay-title">{{ bluetooth.errorMessage || 'Bluetooth' }}</h4>

	<button class="btn btn-success" ng-click="searchDevice()">
		Rechercher<span ng-show="bluetooth.loading">...</span>
	</button>

	<ul>
		<li ng-repeat="device in bluetooth.deviceList">
			{{ device.id }}
			<button class="btn btn-default" ng-click="connect(device.id)">
				Se connecter
			</button>
		</li>
	</ul>

	<p bubble toggle="off" target="bluetoothOverlay">
		<span class="btn btn-default">
			<i class="fa fa-times"></i>
		</span>
	</p>
</div>