<!-- Bluetooth Overlay -->
<div ng-controller="BluetoothController" overlay="bluetoothOverlay">

	<h4 class="overlay-title">Bluetooth</h4>

	<button class="btn btn-success" ng-click="searchDevice()">
		Rechercher des périphériques<span ng-show="loading.bluetooth">...</span>
	</button>

	<p ng-show="bluetoothError">
		{{ bluetoothError }}
	</p>

	<ul>
		<li ng-repeat="device in deviceList">
			{{ device.id }}
			<a href="#"  class="btn btn-default" ng-click="connect(device.id)">
				Se connecter
			</a>
		</li>
	</ul>

	<p bubble toggle="off" target="bluetoothOverlay">
		<span class="btn btn-primary" ng-click="testBt()">Ok</span>
		<span class="btn btn-default">Annuler</span>
	</p>
</div>