<!--h4>
	{{ destination || 'Destination' | capitalize }}
</h4-->

<div class="col-md-12">
	<!-- <div ha-step="step.current"
		step-count="step.count"
		step-total="_steps.length"
		class="right">
	</div> -->
	<div class="right">
		<i class="fa fa-road"></i> {{ _directions.routes[0].legs[0].distance.text }}<br>
		<i class="fa fa-clock-o"></i> {{ _directions.routes[0].legs[0].duration.text }}
	</div>
	<p>
		<small>{{ _directions.routes[0].legs[0].start_address }}</small><br>
		<i class="fa fa-map-marker"></i>
		{{ _directions.routes[0].legs[0].end_address }}
	</p>
	<div class="step-instructions clear-fix" ng-show="step.current">
		<strong class="pull-right">{{ step.count + 1 }} / {{ _steps.length }}</strong>
		<h3>
			{{ step.current.distance.text }}
			<span class="sprite {{ step.current.maneuver }}"></span>
			{{ step.current.duration.text }}
		</h3>
		<p ng-bind-html="step.current.instructions"></p>
	</div>
</div>

<!--
<ul class="direction-steps">
	<li ng-repeat="(key, step) in _directions.routes[0].legs[0].steps">
		<div ha-step="step"></div>
	</li>
</ul>
<div id="directions-steps"></div>
<div id="directions-steps"></div>
-->
