
<div class="btn-group justified nav-tabs col-md-6 form-group">
	<!-- reset & stop -->
	<a class="btn btn-danger" ng-click="resetDirection()"
		ng-disabled="loading.position || loading.direction || !_directions && !positionMarker">
		<i class="fa fa-times inherit-size" ng-hide="loading.position || loading.direction || !_directions && !positionMarker"></i>
		<i class="fa fa-minus-circle inherit-size" ng-show="loading.position || loading.direction || !_directions && !positionMarker"></i>
	</a>
	<!-- volume -->
	<a class="btn btn-default" ng-click="toggleVoice()" ng-show="_directions"
		ng-disabled="loading.position || loading.direction">
		<i class="fa fa-volume-up" ng-show="audio.textToSpeech"></i>
		<i class="fa fa-volume-off" ng-hide="audio.textToSpeech"></i>
	</a>
	<!-- start
	<a class="btn btn-success" title="Démarrer" ng-click="getStep(0)"
		ng-disabled="loading.position || loading.direction || !(_directions && !_steps)">
		<i class="fa fa-flag-checkered"></i>
	</a> -->
	<!-- prev -->
	<a class="btn btn-default" title="Précédent" ng-click="getStep(step.count - 1)" ng-show="_directions"
		ng-disabled="step.count === 0 || loading.position || loading.direction || !_directions">
		<i class="fa fa-chevron-left"></i>
	</a>
	<!-- next -->
	<a class="btn btn-default" title="Suivant" ng-click="getStep(step.count + 1)" ng-show="_directions"
		ng-disabled="step.count === _steps.length - 1 || loading.position || loading.direction || !_directions">
		<i class="fa fa-chevron-right"></i>
	</a>
	<!-- whereami -->
	<a class="btn btn-primary" title="Où suis-je ?" ng-click="startWatch()"
		ng-disabled="loading.position || loading.direction">
		<i class="fa fa-location-arrow" ng-show="positionMarker"></i>
		<i class="fa fa-map-marker" ng-hide="positionMarker"></i>
		<span ng-show="accuracy">
			~{{ accuracy | number:0 }}m
		</span>
	</a>
	<!-- search
	<a class="btn btn-primary" title="Rechercher" ng-click="getDirection(destination)"
		ng-disabled="directionForm.$invalid || loading.position || loading.direction">
		<i class="fa fa-search inherit-size"></i>
	</a> -->
</div>

<form novalidate ng-submit="getDirection(destination)" name="directionForm" class="direction-form col-xs-12 col-md-6">
	<div class="input-group margin-bottom-sm">
		<span class="input-group-addon clickable" title="Rechercher" ng-click="getDirection(destination)">
			<i class="fa fa-refresh fa-spin fa-fw" ng-show="loading.position || loading.direction"></i>
			<i class="fa fa-search fa-fw" ng-hide="loading.position || loading.direction"></i>
		</span>
		<!-- bs-form-control || form-control -->
		<input
		class="form-control"
		type="text"
		placeholder="Destination"
		ng-model="destination"
		label=""
		label-class="col-xs-12"
		ng-disabled="loading.position || loading.direction";
		autofocus
		required>
	</div>
</form>

<!-- Carte -->
<div class="google-map" id="google-map"></div>
<!-- Directions -->
<div ha-directions class="direction-container" ng-show="_directions"></div>