<div ng-controller="BluetoothController" overlay="bluetoothOverlay">
	<h4 class="overlay-title">Bluetooth</h4>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading" toggle target="collapseOne">
				<h4 class="panel-title">
						Casque {{ amac }}
				</h4>
			</div>
			<div id="collapseOne" toggleable active-class="in" exclusion-group="accordion1" default="active" class="panel-collapse collapse">
				<div class="panel-body">
					<!-- ... -->
					<a href="#" ng-click="connectToDevice()">clic salope</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" toggle target="collapseTwo">
				<h4 class="panel-title">
						Intercom
				</h4>
			</div>
			<div id="collapseTwo" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse">
				<div class="panel-body">
					<!-- ... -->...
				</div>
			</div>
		</div>
	</div>
	<p bubble toggle="off" target="bluetoothOverlay">
		<span class="btn btn-primary" ng-click="testBt()">Ok</span>
		<span class="btn btn-default">Annuler</span>
	</p>
</div>