<div ng-hide="_directions">
	<h2 class="item-input-inset">
		<form class="item-input-wrapper" novalidate ng-submit="getDirection(destination)" name="directionForm">
			<label class="item-input-wrapper">
				<i class="icon ion-location placeholder-icon"></i>
				<input type="text" placeholder="{{ loading.position ? 'Attente...' : 'Destination' }}" ng-model="destination" ng-disabled="loading.position || loading.direction" required>
				<i class="icon ion-close placeholder-icon" ng-show="destination" ng-click="destination=''"></i>
			</label>
		</form>
		<button class="button button-small button-icon" ng-show="destination" ng-disabled="loading.position || loading.direction" ng-click="getDirection(destination)">
			<i class="icon light" ng-class="{'ion-refreshing':loading.direction,'ion-search':!loading.direction}"></i>
		</button>
	</h2>

	<div class="center" ng-show="loading.direction">
		<button class="button button-icon">
			<i class="icon ion-refreshing"></i>
		</button>
	</div>

	<div ha-weather></div>

	<div class="center">
		<img src="img/logo.png" width="50%" alt="Helmet Visio">
	</div>
</div>

<div ng-show="_directions">

	<h2 class="title">
		<span ng-show="speed" class="left">
			{{ speed | speed:'km/h' }}
		</span>
		{{ destination || 'Destination' | capitalize }}
		<span ng-show="distance" class="right">
			{{ (_directions.routes[0].legs[0].distance.value - distance) | distance }}
		</span>
	</h2>

	<div class="card clear">

		<div class="item center" ng-class="{'item-icon-right':step.current && location}">
			<!-- Distance -->
			{{ _directions.routes[0].legs[0].distance.text }}
			<!-- Durée -->
			<i class="ion-android-clock"></i>
			{{ _directions.routes[0].legs[0].duration.text }}

			<span class="icon" ng-show="step.current && location" ng-click="viewAllSteps = !viewAllSteps">
				<i class="icon ion-eye" ng-hide="viewAllSteps"></i>
				<i class="icon ion-eye-disabled" ng-show="viewAllSteps"></i>
			</span>
		</div>

		<div class="item item-dark item-icon-left">
			<!-- Départ -->
			<i class="icon ion-ios7-flag-outline"></i>
			{{ _directions.routes[0].legs[0].start_address }}
		</div>

		<div class="item center" ng-class="{'item-balanced':!location,'item-assertive':location,'ion-ios7-play':!location,'ion-stop':location}" ng-click="location ? clearLocation() : start()">
			&nbsp;
			<span ng-hide="location">Démarrer</span>
			<span ng-show="location">Arrêter</span>
		</div>

		<div class="item item-icon-left item-icon-right center" ng-show="step.current && !viewAllSteps && location">

			<!-- Précédent -->
			<span class="button button-icon icon" ng-click="getStep(step.count - 1)" ng-disabled="step.count < 1 || loading.position || loading.direction">
				<i class="ion-chevron-left"></i>
			</span>

			<h3>
				{{ step.count + 1 }} / {{ _directions.routes[0].legs[0].steps.length }}
			</h3>

			<div class="row">
				<div class="col">
					<span class="sprite {{ step.current.maneuver }}"></span>
					{{ step.current.distance.text }}
				</div>
				<div class="col">
					<i class="ion-android-clock"></i>
					{{ step.current.duration.text }}
				</div>
			</div>

			<div ng-bind-html="step.current.instructions" style="white-space: normal;"></div>

			<!-- Suivant -->
			<span class="button button-icon icon" ng-click="getStep(step.count + 1)" ng-disabled="step.count + 1 >= _directions.routes[0].legs[0].steps.length || loading.position || loading.direction">
				<i class="ion-chevron-right"></i>
			</span>
		</div>

		<div class="item item-icon-left center" ng-class="{'item-positive':step.count == k}" ng-show="viewAllSteps && location" ng-repeat="(k,s) in _directions.routes[0].legs[0].steps">

			<span class="icon">
				{{ k + 1 }}
			</span>

			<div class="right">
				<span class="sprite {{ s.maneuver }}"></span> {{ s.distance.text }}
				<br>
				<i class="ion-android-clock"></i>
				{{ s.duration.text }}
			</div>

			<span ng-bind-html="s.instructions" style="white-space: normal;"></span>
		</div>

		<div class="item item-dark item-icon-right align-right">
			<!-- Arrivée -->
			{{ _directions.routes[0].legs[0].end_address }}
			<i class="icon ion-ios7-flag"></i>
		</div>

	</div>
</div>
