<div ng-hide="_directions">
	<h2>
		Helmet Visio HD+ v2
	</h2>
	<div class="center" ng-show="fileLoading">
		<button class="button button-icon">
			<i class="icon ion-refreshing"></i>
		</button>
	</div>
	<form class="item-input-inset" novalidate ng-submit="getDirection(destination)" name="directionForm">
		<label class="item item-input-wrapper">
	   		<i class="icon ion-location placeholder-icon" ng-hide="loading.direction"></i>
	   		<i class="icon ion-refreshing placeholder-icon" ng-show="loading.direction"></i>
			<input type="text" placeholder="{{ loading.position ? 'Attente...' : 'Destination' }}" ng-model="destination" ng-disabled="loading.position || loading.direction" required>
		</label>
		<a class="button button-clear" ng-show="destination" ng-click="destination=''">
			<i class="icon ion-close"></i>
		</a>
		<a class="button button-clear" ng-show="destination" ng-disabled="loading.position || loading.direction" ng-click="getDirection(destination)">
			<i class="icon ion-search"></i>
		</a>
	</form>

	<div ha-weather class="center"></div>
</div>

<div ng-show="_directions">

	<h2 class="title">
		<span ng-show="speed" class="left">
			{{ speed | number:2 }} km/h
		</span>
		{{ destination || 'Destination' | capitalize }}
		<span ng-show="distance" class="right">
			{{ (_directions.routes[0].legs[0].distance.value - distance) | distance }}
		</span>
	</h2>

	<div class="center" ng-show="loading.position">
		<button class="button button-icon">
			<i class="icon ion-refreshing"></i>
		</button>
	</div>

	<!-- start -->
	<button class="button button-balanced button-full icon ion-navigate" ng-click="start()" ng-hide="location">
		Démarrer
	</button>
	<div class="button-bar">
		<!-- prev -->
		<button class="button button-dark" ng-click="getStep(step.count - 1)" ng-disabled="step.count < 1 || loading.position || loading.direction || !_directions" ng-show="location">
			<i class="icon ion-chevron-left"></i>
		</button>
		<!-- start -->
		<button class="button button-dark" ng-show="location" disabled>
			{{ step.count + 1 }} / {{ _steps.length }}
		</button>
		<!-- next -->
		<button class="button button-dark" ng-click="getStep(step.count + 1)" ng-disabled="step.count + 1 >= _steps.length || loading.position || loading.direction || !_directions" ng-show="location">
			<i class="icon ion-chevron-right"></i>
		</button>
	</div>

	<div class="card">
		<div class="item item-icon-left">
			<!-- Départ -->
			<i class="icon ion-ios7-flag-outline"></i>
			{{ _directions.routes[0].legs[0].start_address }}
		</div>
		<div class="item center">
			<!-- Distance -->
			{{ _directions.routes[0].legs[0].distance.text }}
			<!-- Durée -->
			<i class="ion-android-clock"></i>
			{{ _directions.routes[0].legs[0].duration.text }}
		</div>
		<div class="item item-icon-right align-right">
			<!-- Arrivée -->
			{{ _directions.routes[0].legs[0].end_address }}
			<i class="icon ion-ios7-flag"></i>
		</div>
		<div class="item center" ng-show="step.current">
			<p ng-bind-html="step.current.instructions"></p>
			<span class="sprite {{ step.current.maneuver }}"></span>
			{{ step.current.distance.text }}
			<i class="ion-android-clock"></i>
			{{ step.current.duration.text }}
		</div>
	</div>
</div>
