<!-- Titre -->
<div content-for="title">
  <span>Tableau de bord</span>
</div>

<!-- Contenu -->
<div bs-panel title="Hello World">
	<center>
		<!-- Position -->
		<div ha-position></div>
		<br>
		<img src="img/logo.png" alt="Cordova">
		<br>
		<a class="btn btn-primary" href="#/direction">
			Itinéraire
		</a>
		<a class="btn btn-primary" href="#/trips">
			Trajets
		</a>
		<a class="btn btn-primary" href="#/settings">
			Paramètres
		</a>
		<br>
		<!-- Météo -->
		<div ha-weather="currentWeather"></div>
	</center>
</div>