<form novalidate name="mapContainer" class="mapContainer panel">
	<input bs-form-control type="text" ng-model="destination" label="Destination" label-class="col-xs-3 col-sm-2 col-lg-1" class="col-xs-9 col-sm-10 col-lg-11" placeholder="Destination" required>
	<button class="btn btn-primary" ng-click="getDirections(destination)" ng-disabled="mapContainer.$invalid">Itinéraire</button>
	<button class="btn btn-default" ng-click="clearDirections()" ng-disabled="mapContainer.$invalid">Effacer</button>
	<button class="btn btn-default" ng-click="findMe()" ng-disabled="loading.direction">Où suis-je ?</button>
	<div ng-show="loading.direction" class="loading">
		<i class="fa fa-refresh fa-spin spinner"></i>
	</div>
	<div id="google-map"></div>
	<div class="directions" ng-show="directions || directions==undefined">
		<div id="directions-list"></div>
	</div>
</form>