<!-- Titre -->
<div content-for="title">
  <span class="hidden-phone">Itinéraire</span>
</div>

<!-- Navigation -->
<div content-for="navbarAction">
	<!-- Weather -->
	<div ng-click="toggle('weatherOverlay', 'on')" class="btn btn-navbar">
		<i class="fa fa-sun-o"></i>
	</div>
	<!-- Bluetooth -->
	<div bt-icon class="btn btn-navbar" ng-click="toggle('bluetoothOverlay', 'on')"></div>
</div>

<!-- Chargement -->
<div ng-show="loading.position" class="app-content-loading">
	<i class="fa fa-map-marker spinner"></i>
	<div class="spinner-message" loading-message="message">
	</div>
</div>
<!-- Contenu -->
<div class="panel container" ng-hide="loading.position">
	<div bs-panel title="{{ message || 'Destination' }} {{ distance }}">
		<div ha-map></div>
	</div>
</div>
