<!-- Titre -->
<div content-for="title">
  <span class="hidden-phone">Itinéraire</span>
</div>

<!-- Navigation -->
<div content-for="navbarAction">
	<a href="#/start" class="btn btn-navbar">
		<i class="fa fa-road"></i> GO
	</a>
	<div bt-icon class="btn btn-navbar" ng-click="toggle('bluetoothOverlay', 'on')"></div>
</div>

<!-- Chargement -->
<div ng-show="loading.position" class="app-content-loading">
	<i class="fa fa-map-marker spinner"></i>
</div>
<!-- Contenu -->
<div class="panel container" ng-hide="loading.position">
	<div bs-panel title="{{ message || 'Destination' }}">
		<div ha-map></div>
	</div>
</div>
