<!-- Titre -->
<div content-for="title">
  <span class="hidden-phone">{{ destination || 'Itinéraire' | capitalize}}</span>
</div>

<!-- Navigation -->
<div content-for="navbarAction">
	<!-- Weather -->
	<div ng-click="toggle('weatherOverlay', 'on')" class="btn btn-navbar">
		<i class="fa fa-sun-o"></i>
	</div>
	<!-- Bluetooth -->
	<div bt-icon class="btn btn-navbar" ng-click="toggle('bluetoothOverlay', 'on')"></div>
</div>

<!-- Chargement -->
<div ng-show="loading.route" class="app-content-loading">
	<i class="fa fa-map-marker spinner"></i>
	<div class="spinner-message" loading-message="message">
	</div>
</div>
<div ng-hide="loading.route">

	<!-- Titre -->
	<div class="panel-heading">
		<h2 class="panel-title">
			{{ message || 'Destination' }} {{ speed }} {{ direction.routes[0].summary }}
			<span ng-show="distance">
				({{ distance | number:0 }}m)
			</span>
		</h2>
	</div>
	<!-- Contenu -->
	<div class="panel-body">
		<div ha-map></div>
	</div>

</div>