<!--ul class="settings">
	<li>
		<span>Paramètre</span>
		<switch ng-model="loading.position" class="pull-right"></switch>
	</li>
	<li>
		<span>Patamèrre</span>
		<switch ng-init="trololol = true; trolol = false; trol = true;" ng-model="trololol" class="pull-right"></switch>
	</li>
	<li>
		<span>Paramètre</span>
		<switch ng-model="trolol" class="pull-right"></switch>
	</li>
	<li>
		<span>Paramètre</span>
		<switch ng-model="trol" class="pull-right"></switch>
	</li>
</ul-->

<!-- Bluetooth -->

<div class="button-bar button-full">
	<button class="button" ng-click="discover()" ng-class="{'button-assertive': bluetooth.errorMessage}" ng-disabled="bluetooth.loading">
		<i class="icon ion-refreshing" ng-show="bluetooth.loading"></i>
		<i class="icon ion-search" ng-hide="bluetooth.errorMessage || bluetooth.loading"></i>
		<i class="icon ion-alert-circled" ng-show="bluetooth.errorMessage && !bluetooth.loading"></i>
		{{ bluetooth.errorMessage || 'Recherche' }}
	</button>
</div>
<ion-list>
	<!-- Liste des appareils -->
	<ion-item ng-repeat="device in bluetooth.deviceList" ng-class="{'stored': device.stored}">
		<div class="right">
			<!-- Connexion -->
			<button class="button button-balanced ion-power" ng-click="connect(device.id)" ng-hide="device.id === bluetooth.connected" ng-disabled="loading.bluetooth || device.stored"></button>
			<div class="button-bar" ng-show="device.id === bluetooth.connected">
				<!-- Souscrire -->
				<button class="button button-positive" ng-click="subscribe(device.id)" ng-disabled="loading.bluetooth || device.stored">
					<i class="ion-code" ng-show="device.subscribed"></i>
					<i class="ion-arrow-swap" ng-hide="device.subscribed"></i>
				</button>
				<!-- Déxonnexion -->
				<button class="button button-assertive ion-power" ng-click="disconnect(device.id)"ng-disabled="loading.bluetooth || device.stored"></button>
			</div>
			<!-- Write data -->
			<form ng-show="device.id === bluetooth.connected" novalidate ng-submit="write(bluetooth.data)" name="writeForm">
				<div class="input-group margin-bottom-sm">
					<span class="input-group-addon clickable" title="Envoyer" ng-click="write(bluetooth.data)">
						<i class="fa fa-refresh fa-spin" ng-show="loading.bluetooth"></i>
						<i class="fa fa-terminal" ng-hide="loading.bluetooth"></i>
					</span>
					<input class="form-control" type="text"
						placeholder="Envoyer des données"
						ng-model="bluetooth.data"
						ng-disabled="loading.bluetooth || device.stored"
						required>
				</div>
			</form>
		</div>

		<!-- Nom du périphérique -->
		<h3 class="title">
			<i class="fa fa-headphones"></i>
			{{ device.name }}
		</h3>
		<!-- Adresse MAC -->
		<small>{{ device.id }}</small>
		<div ng-show="device.id === bluetooth.connected" class="button-bar">
			<button class="button button-light" ng-click="available()">
				Available
			</button>
			<button class="button button-light" ng-click="read()">
				Read
			</button>
			<button class="button button-light" ng-click="readuntil()">
				ReadUntil
			</button>
		</div>
		<div ng-show="device.id === bluetooth.connected" class="button-bar">
			<button class="button button-light" ng-click="subscribe()">
				Subscribe
			</button>
			<button class="button button-light" ng-click="unsubscribe()">
				Unsubscribe
			</button>
			<button class="button button-light" ng-click="clear()">
				Clear
			</button>
		</div>
	</ion-item>
</ion-list>