<!-- Titre -->
<div content-for="title">
  <span>
		<i class="fa fa-refresh fa-spin" ng-show="bluetooth.loading"></i>
		Paramètres
	</span>
</div>

<!--ul class="settings">
	<li>
		<span>Paramètre</span>
		<switch ng-model="loading.position" class="pull-right"></switch>
	</li>
	<li>
		<span>Patamèrre</span>
		<switch ng-init="trololol = true; trolol = false; trol = true;" ng-model="trololol" class="pull-right"></switch>
	</li>
	<li>
		<span>Paramètre</span>
		<switch ng-model="trolol" class="pull-right"></switch>
	</li>
	<li>
		<span>Paramètre</span>
		<switch ng-model="trol" class="pull-right"></switch>
	</li>
</ul-->

<!-- Bluetooth -->
<ul class="settings">
	<li>
		<button class="btn btn-default col-xs-12" ng-click="discover()"
			ng-class="{'btn-danger': bluetooth.errorMessage}" ng-disabled="bluetooth.loading">
			<i class="fa fa-search" ng-hide="bluetooth.errorMessage"></i>
			<i class="fa fa-warning" ng-show="bluetooth.errorMessage"></i>
			{{ bluetooth.errorMessage || 'Recherche' }}
		</button>
	</li>
	<!-- Liste des appareils -->
	<li ng-repeat="device in bluetooth.deviceList" ng-class="{'stored': device.stored}"}>

		<!-- Nom du périphérique -->
		<span class="title">
			<i class="fa fa-headphones"></i>
			{{ device.name }}
		</span>
		<!-- Adresse MAC -->
		<small>{{ device.id }}</small>
		<div class="pull-right">
			<!-- Connexion -->
			<button class="btn btn-success" ng-click="connect(device.id)"
				ng-hide="device.id === bluetooth.connected" ng-disabled="loading.bluetooth || device.stored">
				<i class="fa fa-link"></i>
			</button>
			<div class="btn-group pull-right">
				<!-- Souscrire -->
				<button class="btn btn-primary" ng-click="subscribe(device.id)"
					ng-show="device.id === bluetooth.connected" ng-disabled="loading.bluetooth || device.stored">
					<i class="fa fa-code" ng-show="device.subscribed"></i>
					<i class="fa fa-exchange" ng-hide="device.subscribed"></i>
				</button>
				<!-- Déxonnexion -->
				<button class="btn btn-danger" ng-click="disconnect(device.id)"
					ng-show="device.id === bluetooth.connected" ng-disabled="loading.bluetooth || device.stored">
					<i class="fa fa-power-off"></i>
				</button>
			</div>
			<!-- Write data -->
			<form ng-show="device.id === bluetooth.connected" novalidate ng-submit="write(bluetooth.data)" name="writeForm">
				<div class="input-group margin-bottom-sm">
					<span class="input-group-addon clickable" title="Envoyer" ng-click="write(bluetooth.data)">
						<i class="fa fa-refresh fa-spin" ng-show="loading.bluetooth"></i>
						<i class="fa fa-terminal" ng-hide="loading.bluetooth"></i>
					</span>
					<input class="form-control" type="text"
						placeholder="Envoyer des données"
						ng-model="bluetooth.data"
						ng-disabled="loading.bluetooth || device.stored"
						required>
				</div>
			</form>
		</div>
	</li>
	<li ng-show="bluetooth.connected">
		<button class="btn btn-default" ng-click="available()">
			Available
		</button>
		<button class="btn btn-default" ng-click="read()">
			Read
		</button>
		<button class="btn btn-default" ng-click="readuntil()">
			ReadUntil
		</button>
		<button class="btn btn-default" ng-click="subscribe()">
			Subscribe
		</button>
		<button class="btn btn-default" ng-click="unsubscribe()">
			Unsubscribe
		</button>
		<button class="btn btn-default" ng-click="clear()">
			Clear
		</button>
	</li>
</ul>