<div class="center" ng-show="currentWeather.loading">
	<button class="button button-icon">
		<i class="icon ion-refreshing"></i>
	</button>
</div>
<div class="center">
	<div ng-show="currentWeather.errorMessage">
		{{ currentWeather.errorMessage }}
	</div>
	<div ng-show="currentWeather.data">
		<!--small>
			{{ currentWeather.city || 'Météo' }}
		</small-->
		<h3 class="left card">{{ currentWeather.main.temp || '?' }} °C</h3>
		<span class="right" ng-repeat="w in currentWeather.data">
			<!--img ng-src="//openweathermap.org/img/w/{{ w.icon }}.png" alt="{{ w.icon }}"-->
			{{ w.description | capitalize }}
		</span>
	</div>
</div>