<div class="center" ng-show="currentWeather.loading">
	<button class="button button-icon">
		<i class="icon ion-refreshing"></i>
	</button>
</div>
<div class="center">
	<div ng-show="currentWeather.errorMessage">
		{{ currentWeather.errorMessage }}
	</div>
	<div class="row" ng-show="currentWeather.data">
		<!--small>
			{{ currentWeather.city || 'Météo' }}
		</small-->
		<div class="col card">
			<h3>{{ currentWeather.main.temp || '?' }} °C</h3>
		</div>
		<div class="col card" ng-repeat="w in currentWeather.data">
			<!--img ng-src="//openweathermap.org/img/w/{{ w.icon }}.png" alt="{{ w.icon }}"-->
			{{ w.description | capitalize }}
		</div>
	</div>
</div>