.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.white {
  color: #fff;
}
.hide {
  display: none;
}
.right {
  float: right;
  text-align: right;
}
@media (max-width: 480px) {
  .hidden-phone {
    display: none;
  }
}
ul {
  list-style-type: none;
  padding: 0;
}
body .app {
  background-color: #fff;
}
.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}
.app-content-loading .spinner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -50px;
  text-align: center;
  font-size: 50px;
}
.app-content-loading .spinner-message {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  margin-top: -50px;
  text-align: center;
  font-size: 1.5em;
}
.loading {
  display: inline-block;
}
.loading .spinner {
  font-size: 1.5em;
}
.loading .spinner.inherit-size {
  font-size: inherit;
}
.sidebar {
  font-size: 1.1em;
}
.sidebar .fa {
  min-width: 1.5em;
}
.direction-container {
  clear: both;
}
.direction-steps {
  clear: both;
}
.directions {
  clear: both;
  text-align: center;
}
.clear-fix {
  clear: both;
}
.weather {
  display: block;
  min-height: 34px;
  margin: 10px 0;
}
.weather img {
  height: 34px;
}
#google-map {
  clear: both;
  min-height: 150px;
  height: 40vh;
  margin-bottom: 10px;
}
.item-count {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
.step-maneuver {
  margin-right: 10px;
}
.sprite {
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  background-image: url('../img/maneuvers.png');
  background-repeat: no-repeat;
}
.turn-sharp-left {
  background-position: 0px 0px;
}
.turn-sharp-right {
  background-position: 0px -20px;
}
.turn-left {
  background-position: 0px -40px;
}
.turn-right {
  background-position: 0px -60px;
}
.turn-slight-left {
  background-position: 0px -80px;
}
.turn-slight-right {
  background-position: 0px -100px;
}
.ramp-left {
  background-position: 0px -120px;
}
.ramp-right {
  background-position: 0px -140px;
}
.fork-left {
  background-position: 0px -160px;
}
.fork-right {
  background-position: 0px -180px;
}
.straight {
  background-position: 0px -200px;
}
.merge {
  background-position: 0px -220px;
}
.roundabout-left {
  background-position: 0px -240px;
}
.roundabout-right {
  background-position: 0px -260px;
}
