// angular empty href fix
.nav, .pagination, .carousel, .clickable, a {
	cursor: pointer;
}
.white {
	color: #fff;
}
.hide {
	display: none;
}
.clear-both {
	clear: both;
}
.right {
	float: right;
	text-align: right;
}
@media (max-width : 480px) {
	.hidden-phone {
		display: none;
	}
}
ul {
	list-style-type: none;
	padding: 0;
}
body .app {
	background-color: #fff;
}
.app-content-loading {
	text-align: center;
	height: 100%;
	width: 100%;
	background: #fff;
	position: relative;
	.spinner {
		position: absolute;
		top: 50%;
		left: 0; right: 0;
		margin-top: -25px;
		text-align: center;
	}
	.spinner-message {
		position: absolute;
		top: 75%;
		left: 0; right: 0;
		margin-top: -50px;
		text-align: center;
		font-size: 1.5em;
	}
}

.custom-form {
	padding: 10px 0 10px 10px;
	@media (max-width : 991px) {
		padding: 0 0 10px 0;
	}
}
.direction-container {
	clear: both;
}
.direction-steps {
	clear: both;
}
.directions {
	clear: both;
	text-align: center;
}

.clear-fix {
	clear: both;
}
.weather {
	display: block;
	min-height: 34px;
	margin: 10px 0;
	img {
		height: 34px;
	}
}
#google-map {
	clear: both;
    min-height: 150px;
    height: 50vh;
    //height: calc(~"100vh - 350px");
    //margin-bottom: 10px;
}

.list {
	li {
		overflow: hidden;
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}
}

.settings {
	li {
		min-height: 54px;
		&.stored {
			color: #999;
		}
		span {
			&.title {
				line-height: 34px;
				font-size: 20px;
			}
		}
	}
}

.sprite{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../img/maneuvers.png');
    background-repeat: no-repeat;
    background-size: 19px 630px;
}
.turn-sharp-left { background-position: 0px 0px; }
.turn-sharp-right { background-position: 0px -20px; }
.turn-slight-left { background-position: 0px -80px; }
.turn-slight-right { background-position: 0px -100px; }
.fork-right { background-position: 0px -180px; }
.roundabout-left { background-position: 0px -240px; }
.merge {
	background-position: 0 -143px;
}
.roundabout-right {
	background-position: 0 -232px;
}
.turn-left {
	background-position: 0 -413px;
}
.ramp-right {
	background-position: 0 -429px;
}
.turn-right {
	background-position: 0 -483px;
}
.ramp-left {
	background-position: 0 -598px;
}
.fork-left {
	background-position: 0 -550px;
}
.straight {
	background-position: 0 -534px;
}