.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.clear {
  clear: both;
}
h2 {
  width: 100%;
  min-height: 44px;
  margin: 0;
  padding: 0 10px;
  line-height: 44px;
  text-align: center;
  font-size: 17px;
  border-bottom: 1px solid #cc3700;
  background-color: #ff4500;
  color: #fff;
}
h2 span {
  font-weight: normal;
  font-size: 0.9em;
}
h2.item-input-inset .item-input-wrapper input {
  min-height: 35px;
}
#google-map {
  clear: both;
  min-height: 150px;
  height: 50vh;
}
.sprite {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../img/maneuvers.png');
  background-repeat: no-repeat;
  background-size: 19px 630px;
}
.turn-sharp-left {
  background-position: 0px 0px;
}
.turn-sharp-right {
  background-position: 0px -20px;
}
.turn-slight-left {
  background-position: 0px -80px;
}
.turn-slight-right {
  background-position: 0px -100px;
}
.fork-right {
  background-position: 0px -180px;
}
.roundabout-left {
  background-position: 0px -240px;
}
.merge {
  background-position: 0 -143px;
}
.roundabout-right {
  background-position: 0 -232px;
}
.turn-left {
  background-position: 0 -413px;
}
.ramp-right {
  background-position: 0 -429px;
}
.turn-right {
  background-position: 0 -483px;
}
.ramp-left {
  background-position: 0 -598px;
}
.fork-left {
  background-position: 0 -550px;
}
.straight {
  background-position: 0 -534px;
}
