.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.margin-top {
  padding-top: 43px;
}
.circle {
  width: 50%;
  margin: 0 auto;
  padding: 10px 5%;
}
.circle:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid #4a87ee;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.circle > div {
  float: left;
  width: 100%;
  padding-top: 50%;
  text-align: center;
  color: #4a87ee;
  font-size: 2em;
  line-height: 2em;
  margin-top: -1em;
}
